body{
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    color: aliceblue;
}
h1{
    text-align: center;
    color: blueviolet;
}
p, ul{
    text-align: justify;
    line-height: 1.5;
    font-size: 1.5em;
    text-indent: 20px;
}
img{
    display: block;
    margin: auto;
}
h2{
    color: blueviolet;
}